@media(min-width: 320px) and (max-width: 768px) {
    .section{
        display: grid;
        grid-template-columns: auto;
    }
    .card{
        height: 70vh;
        width: 80%;
    }
    aside{
        margin-top: 0;
        margin-left: 10%;
    }
    .button{
        width: 40vw;
    }
    .author{
        width: 40vw;
        height: 20vh;
    }
}